@model WebCineMVC.Models.Funcion

@{
    ViewData["Title"] = "Borrar Función";
}

<div class="Titulo">¿Seguro desea borrar esta función?</div><br />

<div class="movieElect">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @ViewData["SalaId"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class="col-sm-10">
            @ViewData["PeliculaId"]
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Volver al listado</a>
    </form>
</div>
