@model WebCineMVC.Models.Funcion

@{
    ViewData["Title"] = "Detalle de Función";
}



<div class="Titulo">Detalle de la función</div><br />

<div class="movieDetails">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketsDisponibles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketsDisponibles)
        </dd>
    </dl>

    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a class="btn btn-primary" asp-action="Index">Volver al listado</a>
    </div>
</div>

